@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


.App {
  font-family: "Nunito Sans", Arial, sans-serif;
}

#header{
  color: white;
}

.hero-bg {
  background-image: url('../public/images/hero-bg.jpg'); /*pour l'image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex; /* pour les textes et boutons */
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
}

h1, h2, strong{
  font-weight: 600;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
